<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<script src="../../../js/jquery-2.2.3.min.js"></script>
<script src="../../../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../css/bootstrap.min.css" />
<link href="../../../css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../../../css/AdminLTE.min.css" />
<link rel="stylesheet" href="../../../css/skins/_all-skins.min.css" />
<link href="../../../css/plugins/responsive.bootstrap.min.css"
	rel="stylesheet" />
</head>

<body>
	<div th:fragment="content">

		<div
			th:replace="fragments/notification_group :: content(idPrefix=${formId})">form</div>

		<form th:action="@{/familia/}" method="POST" role="form"
			th:object="${familia}" enctype="multipart/form-data"
			th:id="${formId}">

			<input type="hidden" th:field="*{id}" />

			<div class="row">

				<div class="form-group col-lg-4 col-md-4"
					id="multipartFileContainer">

					<img src="../../../images/male_user.png" />
				</div>

				<div class="form-group col-lg-8 col-md-6">
					<div class="form-group col-lg-2 col-md-6 required">
						<label for="codigo" th:text="#{familia.codigo.lbl}"
							class="field-label">Código</label> <input type="text"
							th:field="*{codigo}" class="form-control" maxlength="18"
							autofocus="autofocus" />

					</div>


					<div class="form-group col-lg-8 col-md-12 required">
						<label for="nombre" th:text="#{familia.nombre.lbl}"
							class="field-label">Nombre</label> <input type="text"
							th:field="*{nombre}" class="form-control" maxlength="100" />
					</div>






				</div>
				</div>
				


				<div
					th:replace="abm/ajax_form_buttons :: content(formId=${formId}, controller=${controller})">
					<button type="button" class="btn btn-default"
						th:id="${formId + 'createBtn'}"
						th:if="${controller.userCanInsert()}"
						th:onclick="'htroot.onCreateButtonClicked(\'' + ${formId} + '\')'"
						name="createButton">

						<i class="ion ion-plus-round"></i> <span
							th:text="#{form.boton.crear}">Guardar</span>
					</button>



				</div>
		</form>

		<script type="text/javascript">
	       
            $(document).ready( function() {
                
                
                htroot.bindImageToForm("[[${formId}]]", "id", "[[@{/cliente/image/}]]", "multipartFile");
                
            });
            
		</script>


	</div>

</body>
</html>
