<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{login.nombre.sistema}">Example App</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />

<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

</head>

<body>

	<!-- jQuery Version 1.11.0 -->
	<script src="../js/jquery-1.11.0.js" th:src="@{/js/jquery-1.11.0.js}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

	<img src="../images/app_logo.png" alt="logo" title="logo"
		th:src="@{/images/app_logo.png}" th:alt-title="#{title.application}"
		class="login-app-logo" />

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{login.mensaje}">Ingrese
							sus credenciales</h3>
					</div>
					<div class="panel-body">
						<form role="form" name="login" th:action="@{/login}" method="post">
							<fieldset>
								<div th:if="${error}" class="alert alert-error alert-danger"
									th:text="${error}">Usuario o contraseña incorrectos</div>
								<div th:if="${param.logout}" class="alert alert-success"
									th:text="#{login.sesion_cerrada}">Usted cerró sesión.</div>
								<div class="form-group">
									<input class="form-control" th:placeholder="#{login.username}"
										name="username" id="username" autofocus="autofocus" />
								</div>
								<div class="form-group">
									<input class="form-control" th:placeholder="#{login.password}"
										name="password" id="password" type="password" value="" />
								</div>

								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />

								<button type="submit" class="btn btn-lg btn-primary btn-block"
									th:text="#{login.login_btn}">Acceder</button>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	     $(document).ready(function() {

		    function reloadLoginView() {
				 location.reload();	  				
		    }
			 //cada 5 minutos recargar vista login
		 setTimeout(reloadLoginView, 1000 * 60 * 5);

		});
	</script>

</body>

</html>
