
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">

<head>
<title th:text="#{${pageTitle==null?'application.title':pageTitle}}">APP</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="shortcut icon" href="/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />
<!-- Scripts -->
<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.min.js}"></script>

<script th:src="@{/js/plugins/dataTables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/plugins/dataTables/dataTables.bootstrap.min.js}"></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}" />
<link rel="stylesheet" th:href="@{/css/skins/skin-blue.css}" />
<link th:href="@{/css/plugins/responsive.bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/htroot.css}" rel="stylesheet" />
<script th:replace="this :: header">Css, scripts adicionales</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper" id="pageWrapper">
		<div th:replace="fragments/navigation :: nav">Navigation</div>
		<div class="content-wrapper">
			<div id="contentBox" class="content box" th:include="this :: content">CONTENIDO</div>
		</div>
	</div>


</body>

</html>
