<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<script src="../../../js/jquery-2.2.3.min.js"></script>
<script src="../../../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../css/bootstrap.min.css" />
<link href="../../../css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../../../css/AdminLTE.min.css" />
<link rel="stylesheet" href="../../../css/skins/_all-skins.min.css" />
<link href="../../../css/plugins/responsive.bootstrap.min.css"
	rel="stylesheet" />
</head>

<body>
	<div th:fragment="content">

		<div
			th:replace="fragments/notification_group :: content(idPrefix=${formId})">En
			esta parte se muestran las notificaciones</div>

		<form th:action="@{/venta/}" method="POST" role="form"
			th:object="${ventaCab}" enctype="multipart/form-data"
			th:id="${formId}">

			<input type="hidden" th:field="*{id}" />

			<div class="row">

				<div class="row">

					<div class="form-group col-lg-6 col-md-6 required">
						<label for="cliente" th:text="#{venta.cliente.lbl}"
							class="field-label">Cliente</label> <select class="form-control"
							th:field="*{cliente}">
							<option th:each="clie : ${clienteList}" th:value="${clie.id}"
								th:text="${clie.str}">1235 - Cliente A</option>

						</select>

					</div>

					<div class="form-group col-lg-4 col-md-4 required">
						<label for="fechaVenta"> <span
							th:text="#{venta.fechaVenta.lbl}">Fecha Venta</span>
						</label>
						<div
							th:replace="fragments/includes :: dateField(inputId='fechaVenta')">
							<input type="text" class="form-control" value="01/01/1970"
								readonly="readonly" />
						</div>

					</div>



					<div class="form-group col-lg-4 col-md-4 required">
						<label for="sucursal" th:text="#{venta.sucursal.lbl}"
							class="field-label">Sucursal</label> <select class="form-control"
							th:field="*{sucursal}">
							<option th:each="suc : ${sucursalList}" th:value="${suc.id}"
								th:text="${suc.nombre}">Casa Central</option>

						</select>

					</div>


					<div class="form-group col-lg-4 col-md-4 required">
						<label for="timbrado" th:text="#{venta.timbrado.lbl}"
							class="field-label">Timbrado</label> <select class="form-control"
							th:field="*{timbrado}" onchange="setNumDoc()">
							<option th:each="tim : ${timbradoList}" th:value="${tim.id}"
								th:text="${tim.str}">87097-001-001</option>

						</select>


						<div class="form-group required col-lg-3 col-md-3">
							<label for="numdoc" th:text="#{venta.numdoc.lbl}"
								class="field-label">Número:</label> <input type="number"
								th:field="*{numdoc}" class="form-control" />
						</div>

					</div>


				</div>

				<div class="form-group col-lg-3 col-md-3 required">
					<input type="checkbox" id="contado" name="contado" /> <label
						for="contado" th:text="#{venta.contado.lbl}" class="field-label">Contado:</label>

				</div>


			</div>


			<div id="detsContainer">
				<h3 style="text-align: center;">Detalles</h3>
				<table class="table table-bordered table-hover display">
					<thead>
						<tr>
							<th></th>
							<th class="required" style="width: 40%"
								th:text="#{ventaDet.producto.tabla.header}">Producto</th>
							<th class="required" th:text="#{ventaDet.cantidad.tabla.header}">Cantidad</th>

							<th class="required"
								th:text="#{ventaDet.precioUnitario.tabla.header}">Precio
								Unit.</th>
							<th class="required" th:text="#{ventaDet.iva.tabla.header}">IVA</th>
							<th class="required"
								th:text="#{ventaDet.precioTotal.tabla.header}">Precio Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="ventaDetList">
						<tr class="ventaDet defaultRow">
							<td><input type="hidden" id='index' class="index" /> <input
								type="hidden" name='ventaDetList[].id' id='id' /></td>
							<td class="required" style="width: 40%"><select
								class="form-control" name="ventaDetList[].subproducto"
								id="subproducto">
									<option th:each="subproducto : ${productoList}"
										th:value="${subproducto.id}"
										th:text="${subproducto.producto.nombre}"></option>

							</select>
							<td class="required"><input id="cantidad"
								class="number-input form-control" type="number"
								name='ventaDetList[].cantidad' /></td>
							<td><button type="button"
									class="btn btn-danger removeVentaDet">
									<i class="fa fa-trash-o fa-lg"></i>
								</button></td>
						</tr>


					</tbody>
				</table>
				<button type="button" class="btn btn-success" id="addVentaDet"
					style="z-index: 20">
					<i class="fa fa-plus" aria-hidden="true"></i><span
						th:text="#{ventaCab.add_detalle_btn}">Agregar detalle</span>
				</button>
			</div>




			<div
				th:replace="abm/ajax_form_buttons :: content(formId=${formId}, controller=${controller})">
				<button type="button" class="btn btn-default"
					th:id="${formId + 'createBtn'}"
					th:if="${controller.userCanInsert()}"
					th:onclick="'htroot.onCreateButtonClicked(\'' + ${formId} + '\')'"
					name="createButton">

					<i class="ion ion-plus-round"></i> <span
						th:text="#{form.boton.crear}">Guardar</span>
				</button>



			</div>
		</form>

		<script type="text/javascript">


        /*cuando ocurre un evento, me indica el evento, la accion y la respuesta del servidor*/
        $("#[[${formId}]]").change(function (event,action,response){
            if (action == null){
					return;
                }
            htroot.loadDynamicFormListHelper('[[${formId}]]', response.data.ventaDetListResponse);
            });
            
            $(document).ready( function() {

 				setNumDoc();
            	var config = {
                        rowClass : 'ventaDet',
                        addRowId : 'addVentaDet',
                        removeRowClass : 'removeVentaDet',
                        formId : "ventaForm",
                        rowContainerId : 'ventaDetList',
                        /*indica cual es la propiedad ventaDetLis[].producto, represena ventaDetList en este caso*/
                        indexedPropertyName : 'ventaDetList',
                        /*lo que viene despues, .producto en el caso de ventaDetList, los atributos que quiero de producto*/
                        indexedPropertyMemberNames : 'id,subproducto,cantidad',
                        rowAddedListener: newVentaDet,
                    };

                htroot.createDynamicFormListHelper(config);

                        
                    $("#fechaVenta").inputmask("dd/mm/yyyy");
        	
        	        
                });
        		
        	  
        	       function newVentaDet(rowElement, index) {
        			 	
        				 var id = index - 1;
        				 $("#index" + id).val(id);
        
        			 }  

        	      /*con val se setea y se asigna, la diferencia es 
        	      que para asignar no recibe parametro y para setear si*/
        		  function setNumDoc(){
				  	$.get("[[@{/venta/timbrado?timbradoId=}]]" 
						  	+ $("#timbrado").val()).done(function(res){
							  	$("#numdoc").val(res.numeroActual+1);
						  	})

            		  }

            
		</script>


	</div>

</body>
</html>
