<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content">

		<h4 class="page-header" th:text="${title}" th:if="${title}">Titulo
			tabla.</h4>

		<div class="table-responsive" style="overflow-x: initial;">
			<table th:id="${name}"
				class="table table-bordered table-hover table-striped display"
				style="border-spacing: 0; width: 100%">
				<thead>
					<tr>
						<th th:each="columna : ${vc.tableColumns}"
							th:text="#{${name +'_' + columna + '_header'}}"></th>
						<th
							th:if="${(showActionButtons==null?true:showActionButtons) and (vc.userCanUpdate() or vc.userCanDelete())}"></th>
					</tr>
				</thead>
			</table>
			<button type="button" class="btn btn-default fa fa-plus-circle fa-2x"
				th:if="${vc.saveButtonEnabled==true and ajaxFormId != null}"
				th:onclick="'htroot.onCreateButtonClicked(\''+${name}+'Form\')'"
				th:title="#{list.btnAdd.title}"></button>
			
			<button type="button" class="btn btn-default fa fa-plus-circle fa-2x"
				th:if="${vc.userCanInsert() and ajaxFormId == null}"
				onclick="$('#newRecordButton').click()"
				th:title="#{list.btnAdd.title}"></button>
				
			<button type="button" class="btn btn-default fa fa-file-pdf-o fa-2x"
				th:id="${name}+'_pdf'" th:title="#{list.btnPdf.title}"></button>
		</div>
		<div
			th:replace="fragments/includes :: datatable_script(name=${name}, serverSide=${serverSide}, source=${source==null?urlBase + 'rest':source}, editUrl=${editUrl==null?urlBase:editUrl}, reportUrl = ${urlBase==null?reportUrl:urlBase+'getpdf'}, deleteUrl=${deleteUrl==null?urlBase+'destroy-by-id':deleteUrl}, columns=${vc.tableColumnsStr}, hiddenColumns=[0], showEditButton=${vc.userCanUpdate()}, showDeleteButton=${vc.userCanDelete()}, ajaxFormId=${ajaxFormId}, showActionButtons=${showActionButtons})">lista</div>

	</div>
</body>

</html>

