<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:replace="/abm/only_form">

<head>
<title>FORM</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


</head>

<body>
	<div th:fragment="content">
		<th:block th:fragment="extra" th:remove="tag">
			<script th:src="@{/js/fileinput.js}"></script>
		</th:block>
		<div th:include="fragments/includes :: file_input_locale">imagen</div>
		<div
			th:replace="fragments/notification_group :: content(idPrefix=${formId})">form</div>
		<form action="#" th:action="@{/user/}" th:object="${user}"
			method="post" role="form" th:id="${formId}">

			<input type="hidden" th:field="*{id}" />

			<div class="form-group col-lg-4 col-md-4" id="multipartFileContainer">
			</div>

			<div class="col-lg-8 col-md-8">


				<div class="form-group required col-lg-4 col-lm-4">
					<label for="nombre" th:text="#{user.name.lbl}" class="field-label">Nombre:</label>
					<input type="text" th:field="*{name}" 
						class="form-control" autofocus="autofocus" />
				</div>

				<div class="form-group required col-lg-4 col-lm-4">
					<label for="apellido" th:text="#{user.surname.lbl}"
						class="field-label">Apellido:</label> <input type="text"
						th:field="*{surname}" class="form-control" />
				</div>

				<div class="form-group required col-lg-4 col-lm-4">
					<label for="email" th:text="#{user.email.lbl}" class="field-label">Email:</label>
					<input type="text" th:field="*{email}" class="form-control" />
				</div>

				<div class="form-group required col-lg-4 col-lm-4">
					<label for="codigo" th:text="#{user.username.lbl}"
						class="field-label">Usuario:</label> <input type="text"
						th:field="*{username}" class="form-control"  />
				</div>
				
				<div class="form-group required col-lg-4 col-lm-4">
					<label for="password" th:text="#{user.password.lbl}"
						class="field-label">Contraseña:</label> <input type="password"
						th:field="*{password}" class="form-control" />
				</div>


				<div class="form-group col-lg-4 col-md-4 required">
					<label for="role" class="field-label">Rol</label> <select
						class="form-control" th:field="*{role}">
						<option th:each="role : ${roleList}" th:value="${role.id}"
							th:text="${role.description}">Administrador</option>
					</select>
				</div>

				<div
					th:replace="abm/ajax_form_buttons :: content(formId=${formId}, controller=${controller}, onlyForm=${onlyForm})">botones</div>
			</div>
		</form>
		<script type="text/javascript">
			 $(document).ready(function() {   
			     htroot.bindImageToForm("[[${formId}]]", "id", "[[@{/user/image/}]]", "multipartFile");
			 });
	    </script>
	</div>

</body>
</html>
