<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:replace="/abm/abm_ancestor">
<head>
<title>user</title>
</head>
<body>

	<div th:fragment="content">
		
		<div class="row">

			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
						<li th:class="${tab=='list'?'active':''}"><a href="#tabla"
							data-toggle="tab" th:text="#{user.tab.list.title}">Lista</a></li>
						<li th:class="${tab=='list'?'':'active'}"><a href="#detalle"
							data-toggle="tab" th:text="#{user.tab.form.title}"
							id="tabDetalle">Detalle</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div
							th:class="${tab=='list'?'tab-pane fade in active':'tab-pane fade'}"
							class="tab-pane fade" id="tabla">
							<div
								th:include="fragments/lista_ancestro::content(name='user', serverSide=true, urlBase=@{/user/}, ajaxFormId='userForm',vc=${controller}, hideTitle=true)">lista</div>
						</div>
						<div
							th:class="${tab=='list'?'tab-pane fade':'tab-pane fade in active'}"
							class="tab-pane fade in active" id="detalle">
							<div
								th:include="abm/user/user_form :: content(vc=${controller},formId='userForm')">form</div>
						</div>
						
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>

	</div>
</body>

</html>
